.suckertreemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font-family:Arial, Helvetica, sans-serif;
font-size:12px; z-index:2;}

.suckertreemenu ul li .toko { display: block; text-decoration: none; color:#fff; background:#FC0 url(../images/bg-menu-toko.gif) repeat-x; -moz-border-radius: 5px; -webkit-border-radius: 5px;  border-radius: 5px; margin:4px 5px 5px 150px; padding:5px 11px;}

/*Top level list items*/
.suckertreemenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.suckertreemenu ul li a{
display: block;
font-weight:bold;
padding: 12px 12px;
font-size:11px;
text-decoration: none;
color:#000;
border-right: 1px solid #ccc;
}

/*1st sub level menu*/
.suckertreemenu ul li ul{
left: 0;
position: absolute;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul{ 
top:0;
border-style:none;
margin:0px;
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a{
display: block;
width: 150px; /*width of sub menu levels*/
text-decoration: none;
padding: 11px 15px;
background:#D9D9D9;
border-right:none;
text-align:left;
background-image:url(../images/bg-diagonal.png);
}


.suckertreemenu ul li a:hover{
color:#000000;
font-weight:bold;
background-image:url(../images/bg-hover-menu.jpg);
background-repeat:repeat-x;
}

* html p#iepara{}
	
/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
/* End */




.suckertreemenu2 ul{ margin:0; padding: 10px; list-style-type: none; z-index:110;}

.suckertreemenu2 ul li{ position: relative; display: inline; float: left; border-left:1px solid #ddd;}
	.suckertreemenu2 ul li a{ display: block; text-decoration: none; color:#fff; padding:5px 13px 5px 13px; font-size: 11px;}
.suckertreemenu2 ul li ul{ left: 0; position: absolute; display: block; visibility: hidden;}
.suckertreemenu2 ul li ul li{ display: list-item; float: none;}
.suckertreemenu2 ul li ul li ul{ top:0; border-style:none; margin:0px;}

.suckertreemenu2 ul li ul li a{ display: block; width: 120px; color: text-decoration: none; padding: 10px 15px; background-color:#016FA2; border-bottom:1px solid #0993C1; text-align:left; }
.suckertreemenu2 ul li a:hover{ color: #FFFF00;}
* html p#iepara{}
	
* html .suckertreemenu2 ul li { float: left; height: 1%; }
* html .suckertreemenu2 ul li a { height: 1%; }

#content h3
{
	margin: 0px;
	padding: 0px;
}
